workflow.sanitized.json
{
  "name": "ディスコードでアニメ画像生成",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.content }}",
              "operation": "startsWith",
              "value2": "!anime"
            }
          ]
        }
      },
      "id": "REDACTED_NODE_ID",
      "name": "コマンド判定 (!anime)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -784,
        -128
      ]
    },
    {
      "parameters": {
        "jsCode": "const rawPrompt = $input.item.json.content.replace('!anime', '').trim();\n// ↓ここをLoRAのトリガーワードに合わせて書き換えます\nconst magicPrompt = ', anime niji style, masterpiece, best quality';\nreturn { json: {\n  finalPrompt: rawPrompt + magicPrompt,\n  channelId: $input.item.json.channelId\n} };"
      },
      "id": "REDACTED_NODE_ID",
      "name": "魔法のプロンプト付与",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        -144
      ]
    },
    {
      "parameters": {
        "guildIds": [
          "YOUR_GUILD_ID"
        ],
        "channelIds": [
          "YOUR_CHANNEL_ID"
        ],
        "value": "!anime",
        "additionalFields": {}
      },
      "type": "n8n-nodes-discord-trigger-new.discordTrigger",
      "typeVersion": 1,
      "position": [
        -976,
        -128
      ],
      "id": "REDACTED_NODE_ID",
      "name": "Discord Trigger",
      "credentials": {
        "discordBotTriggerApi": {
          "id": "REDACTED_CREDENTIAL_ID",
          "name": "REDACTED_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "YOUR_GUILD_ID",
          "mode": "list",
          "cachedResultName": "YOUR_SERVER_NAME",
          "cachedResultUrl": "https://discord.com/channels/YOUR_GUILD_ID"
        },
        "channelId": {
          "__rl": true,
          "value": "YOUR_CHANNEL_ID",
          "mode": "list",
          "cachedResultName": "YOUR_CHANNEL_NAME",
          "cachedResultUrl": "https://discord.com/channels/YOUR_GUILD_ID/YOUR_CHANNEL_ID"
        },
        "content": "={{ $json.imageUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        304,
        -256
      ],
      "id": "REDACTED_NODE_ID",
      "name": "Send a message",
      "webhookId": "REDACTED_WEBHOOK_ID",
      "credentials": {
        "discordBotApi": {
          "id": "REDACTED_CREDENTIAL_ID",
          "name": "REDACTED_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fal.run/fal-ai/bytedance/seedream/v5/lite/text-to-image",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"={{ $json.finalPrompt }}\",\n  \"image_size\": \"portrait_4_3\",\n  \"num_images\": 1,\n  \"max_images\": 1,\n  \"enable_safety_checker\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -352,
        -144
      ],
      "id": "REDACTED_NODE_ID",
      "name": "HTTP Request",
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "REDACTED_CREDENTIAL_ID",
          "name": "REDACTED_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\nconst imageUrl = response?.images?.[0]?.url ?? '';\nconst rawError = response?.error ?? response?.body ?? response?.data ?? response;\n\nlet errorText = '';\nif (!imageUrl) {\n  if (typeof rawError === 'string') {\n    errorText = rawError;\n  } else if (rawError?.message) {\n    errorText = rawError.message;\n  } else if (typeof rawError?.detail === 'string') {\n    errorText = rawError.detail;\n  } else if (Array.isArray(rawError?.detail) && rawError.detail[0]?.msg) {\n    errorText = rawError.detail[0].msg;\n  } else if (rawError?.detail?.message) {\n    errorText = rawError.detail.message;\n  } else {\n    errorText = JSON.stringify(rawError);\n  }\n}\n\nreturn {\n  json: {\n    imageUrl,\n    errorText: errorText || 'Unknown error'\n  }\n};"
      },
      "id": "REDACTED_NODE_ID",
      "name": "レスポンス整形",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -144
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.imageUrl }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "REDACTED_NODE_ID",
      "name": "画像URLあり？",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        96,
        -144
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "YOUR_GUILD_ID",
          "mode": "list",
          "cachedResultName": "YOUR_SERVER_NAME",
          "cachedResultUrl": "https://discord.com/channels/YOUR_GUILD_ID"
        },
        "channelId": {
          "__rl": true,
          "value": "YOUR_CHANNEL_ID",
          "mode": "list",
          "cachedResultName": "YOUR_CHANNEL_NAME",
          "cachedResultUrl": "https://discord.com/channels/YOUR_GUILD_ID/YOUR_CHANNEL_ID"
        },
        "content": "={{ '画像生成に失敗しました\\n\\n' + $json.errorText }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        304,
        -32
      ],
      "id": "REDACTED_NODE_ID",
      "name": "Send error message",
      "webhookId": "REDACTED_WEBHOOK_ID",
      "credentials": {
        "discordBotApi": {
          "id": "REDACTED_CREDENTIAL_ID",
          "name": "REDACTED_CREDENTIAL_NAME"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "コマンド判定 (!anime)": {
      "main": [
        [
          {
            "node": "魔法のプロンプト付与",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "魔法のプロンプト付与": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Trigger": {
      "main": [
        [
          {
            "node": "コマンド判定 (!anime)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "レスポンス整形",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "レスポンス整形": {
      "main": [
        [
          {
            "node": "画像URLあり？",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "画像URLあり？": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "REDACTED_VERSION_ID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "REDACTED_INSTANCE_ID"
  },
  "id": "REDACTED_WORKFLOW_ID",
  "tags": []
}
